<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trang chủ</title>
    <link
            href="https://fonts.googleapis.com/css?family=Cairo:400,600,700&amp;display=swap"
            rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css?family=Poppins:600&amp;display=swap"
            rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i"
            rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css?family=Ubuntu&amp;display=swap"
            rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="../../../assets/images/favicon.png"/>
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/css/nice-select.css">
    <link rel="stylesheet" href="../../../assets/css/slick.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/main-color03-green.css">
    <script src="../../../assets/js/jquery-3.4.1.min.js"></script>
</head>

<body class="biolife-body">
<!-- Preloader -->
<div id="biof-loading">
    <div class="biof-loading-center">
        <div class="biof-loading-center-absolute">
            <div class="dot dot-one"></div>
            <div class="dot dot-two"></div>
            <div class="dot dot-three"></div>
        </div>
    </div>
</div>
<!-- HEADER -->
<header id="header" class="header-area style-01 layout-03">
    <!-- Top -->
    <div class="header-top bg-main hidden-xs">
        <div class="container">

            <div class="top-bar left">
                <ul class="horizontal-menu">
                    <li>
                        <a class="fa fa-envelope" href=""> &nbsp; anpx123@gmail.com
                        </a></li>
                    </i>
                    <li><a href="#">Miễn phí giao hàng nội thành</a></li>
                </ul>
            </div>

            <div class="top-bar right">
                <ul class="social-list">
                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><b class="phone-number"> 12345678p
                    </b></a></li>
                    </li>
                </ul>
                <ul class="horizontal-menu">

                    <li><a href="user_login.php" class="login-link"><i
                            class="biolife-icon icon-login"></i>
                        Đăng nhập
                    </a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Bottom -->
    <div class="header-middle biolife-sticky-object ">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-1 col-md-6 col-xs-6">
                    <a href="index.php" class="biolife-logo">
                        <img src="admin/uploads/" alt="Logo web" width="135" height="36">
                    </a>
                </div>
                <div class="col-lg-9 col-md-8 hidden-sm hidden-xs">
                    <div class="primary-menu">
                        <ul class="menu biolife-menu clone-main-menu clone-primary-menu" id="primary-menu"
                            data-menuname="main menu" style="font-family: sans-serif">
                            <li class="menu-item"><a href="index.html">Trang chủ</a></li>
                            <li class="menu-item"><a href="#">Sản phẩm</a></li>
                            <li class="menu-item"><a href="#">Danh mục</a></li>
                            <li class="menu-item"><a href="#">Về chúng tôi</a></li>
                            <li class="menu-item"><a href="#">Quản lý</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</header>
<!--end header-->

<!-- Page Contain -->
<div class="page-contain">

    <!-- Main content -->
    <div id="main-content" class="main-content">

        <!--Block 01: Main Slide-->

        <div class="main-slide block-slider nav-change">
            <ul class="biolife-carousel"
                data-slick='{"arrows": true, "dots": false, "slidesMargin": 0, "slidesToShow": 1, "infinite": false, "speed": 800}'>
                <li>
                    <div class="slide-contain slider-opt03__layout02 slide_animation type_02">
                        <div class="media background-geen-02"></div>
                        <div class="text-content">
                            <i class="first-line">Nước cam tự nhiên</i>
                            <h3 class="second-line">Thực phẩm nguyên chất 100%</h3>
                            <p class="third-line">An tâm sử dụng</p>
                            <p class="buttons">
                                <a href="./all_product.php" class="btn btn-bold">Mua ngay</a>
                                <a href="#" class="btn btn-thin">Xem thêm thông tin</a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!--Block 02: Product Tabs-->

        <div class="product-tab z-index-20 sm-margin-top-193px xs-margin-top-30px">
            <div class="container">
                <div class="biolife-service type01 biolife-service__type01 sm-margin-top-0 xs-margin-top-45px">
                    <b class="txt-show-01">Nature</b>
                    <i class="txt-show-02">Thực phẩm sạch</i>
                </div>
                <div class="biolife-title-box">
                    <span class="subtitle">Sản phẩm tốt nhất dành cho bạn</span>
                    <h3 class="main-title">Sản phẩm mới</h3>
                </div>
                <div class="biolife-tab biolife-tab-contain sm-margin-top-34px">
                    <!--icon-->
                    <div class="tab-head tab-head__icon-top-layout icon-top-layout">
                        <ul class="tabs md-margin-bottom-35-im xs-margin-bottom-40-im">
                            <li class="tab-element active">
                                <a href="#tab01_1st" class="tab-link"><span
                                        class="biolife-icon icon-lemon"></span>
                                </a>
                            </li>
                            <li class="tab-element">
                                <a href="#tab01_2nd" class="tab-link"><span
                                        class="biolife-icon icon-grape2"></span></span>
                                </a>
                            </li>
                            <li class="tab-element">
                                <a href="#tab01_3rd" class="tab-link"><span
                                        class="biolife-icon icon-blueberry"></span></span>
                                </a>
                            </li>
                            <li class="tab-element">
                                <a href="#tab01_4th" class="tab-link"><span
                                        class="biolife-icon icon-orange"></span></span>
                                </a>
                            </li>
                            <li class="tab-element">
                                <a href="#tab01_5th" class="tab-link"><span
                                        class="biolife-icon icon-broccoli"></span></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--sản phẩm-->
                    <div class="tab-content">
                        <div id="tab01_1st" class="tab-contain active">
                            <ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile eq-height-contain"
                                data-slick='{"rows":2 ,"arrows":true,"dots":false,"infinite":true,"speed":400,"slidesMargin":10,"slidesToShow":4, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin":20}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin":15}}]}'>
                                <li class="product-item">
                                    <div class="contain-product layout-default">
                                        <div class="product-thumb">
                                            <a href="#"
                                               class="link-to-product">
                                                <img src="../../../uploads/apple1.jpg"
                                                     alt="Vegetables" width="270" height="270" class="product-thumnail">
                                            </a>
                                            <a class="lookup btn_call_quickview" href="#"><i
                                                    class="biolife-icon icon-search"></i></a>
                                        </div>
                                        <div class="info">
                                            <b class="categories">Táo</b>
                                            <h4 class="product-title"><a href="#" class="pr-name">Táo mỹ 1kg</a>
                                            </h4>
                                            <div class="price ">
                                                <ins><span class="price-amount"><span
                                                        class="currencySymbol">Giá: 100.000vnđ</span></span>
                                                </ins>
                                            </div>
                                            <div class="slide-down-box">
                                                <p class="message">Thông tin sản phẩm.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div id="tab01_2nd" class="tab-contain ">
                            <ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile eq-height-contain"
                                data-slick='{"rows":2 ,"arrows":true,"dots":false,"infinite":true,"speed":400,"slidesMargin":10,"slidesToShow":4, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin":20}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin":15}}]}'>

                                sp2

                            </ul>
                        </div>
                        <div id="tab01_3rd" class="tab-contain ">
                            <ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile eq-height-contain"
                                data-slick='{"rows":2 ,"arrows":true,"dots":false,"infinite":true,"speed":400,"slidesMargin":10,"slidesToShow":4, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin":20}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin":15}}]}'>

                                sp3

                            </ul>
                        </div>
                        <div id="tab01_4th" class="tab-contain ">
                            <ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile eq-height-contain"
                                data-slick='{"rows":2 ,"arrows":true,"dots":false,"infinite":true,"speed":400,"slidesMargin":10,"slidesToShow":4, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin":20}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin":15}}]}'>

                                sp4

                            </ul>
                        </div>
                        <div id="tab01_5th" class="tab-contain ">
                            <ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile eq-height-contain"
                                data-slick='{"rows":2 ,"arrows":true,"dots":false,"infinite":true,"speed":400,"slidesMargin":10,"slidesToShow":4, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin":20}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin":15}}]}'>
                                sp5
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Block 06: Products-->
        <div class="Product-box sm-margin-top-96px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-6">

                        <div class="advance-product-box">
                            <div class="biolife-title-box bold-style biolife-title-box__bold-style">
                                <h3 class="title">HOT!!!</h3>
                            </div>
                            <ul class="products biolife-carousel nav-top-right nav-none-on-mobile"
                                data-slick='{"arrows":true, "dots":false, "infinite":false, "speed":400, "slidesMargin":30, "slidesToShow":1}'>
                                <li class="product-item">
                                    <div class="contain-product deal-layout contain-product__deal-layout">
                                        <div class="product-thumb">
                                            <a href="#" class="link-to-product">
                                                <img src="../../../assets/images/home-03/product_deal_330x330.jpg" alt="dd"
                                                     width="330" height="330" class="product-thumnail">
                                            </a>
                                            <div class="labels">
                                                <span class="sale-label">-50%</span>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <div class="biolife-countdown"
                                                 data-datetime="2023-01-18 00:00 +00:00"></div>
                                            <b class="categories">Thực phẩm sạch</b>
                                            <h4 class="product-title"><a href="#" class="pr-name">Chanh tuyết</a></h4>
                                            <div class="price ">
                                                <ins><span class="price-amount"><span class="currencySymbol"></span>5.000vnđ</span>
                                                </ins>
                                                <del><span class="price-amount"><span class="currencySymbol"></span>10.000vnđ</span>
                                                </del>
                                            </div>
                                            <div class="slide-down-box">
                                                <p class="message">Thực phẩm đảm bảo chất lượng 100%.</p>
                                                <div class="buttons">
                                                    <a href="#" class="btn wishlist-btn"><i class="fa fa-heart"
                                                                                            aria-hidden="true"></i></a>
                                                    <a href="#" class="btn add-to-cart-btn">Thêm vào giỏ hàng</a>
                                                    <a href="#" class="btn compare-btn"><i class="fa fa-random"
                                                                                           aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-6">

                        <div class="advance-product-box">
                            <div class="biolife-title-box bold-style biolife-title-box__bold-style">
                                <h3 class="title">Top sản phẩm </h3>
                            </div>
                            <ul class="products biolife-carousel nav-center-03 nav-none-on-mobile row-space-29px"
                                data-slick='{"rows":2,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":30,"slidesToShow":2,"responsive":[{"breakpoint":1200,"settings":{ "rows":2, "slidesToShow": 2}},{"breakpoint":992, "settings":{ "rows":2, "slidesToShow": 1}},{"breakpoint":768, "settings":{ "rows":2, "slidesToShow": 2}},{"breakpoint":500, "settings":{ "rows":2, "slidesToShow": 1}}]}'>

                                <li class="product-item">
                                    <div class="contain-product right-info-layout contain-product__right-info-layout">
                                        <div class="product-thumb">
                                            <a href="#"
                                               class="link-to-product">
                                                <img src="../../../uploads/apple1.jpg" alt="dd"
                                                     width="270" height="270"
                                                     class="product-thumnail">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <b class="categories">Táo</b>
                                            <h4 class="product-title"><a
                                                    href="#"
                                                    class="pr-name">Táo mỹ 1kg</a></h4>
                                            <div class="price ">
                                                <ins><span class="price-amount"><span
                                                        class="currencySymbol">Giá: </span>100.000vnđ</span>
                                                </ins>

                                            </div>
                                            <div class="rating">
                                                <p class="star-rating"><span class="width-80percent"></span></p>
                                                <span class="review-count">(05 Reviews)</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                            <div class="biolife-banner style-01 biolife-banner__style-01 sm-margin-top-30px xs-margin-top-80px">
                                <div class="banner-contain">
                                    <a href="#" class="bn-link"></a>
                                    <div class="text-content">
                                        <span class="first-line">hàng ngày</span>
                                        <b class="second-line">Thực phẩm</b>
                                        <i class="third-line">Tự nhiên</i>
                                        <span class="fourth-line">Chất lượng cao</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--Block 07: Brands-->
        <div class="brand-slide sm-margin-top-100px background-fafafa xs-margin-top-80px xs-margin-bottom-80px">
            <div class="container">
                <div class="biolife-service type01 biolife-service__type01 sm-margin-top-0 xs-margin-top-45px">
                    <ul class="services-list">
                        <li>
                            <div class="service-inner color-reverse">
                                <span class="number">1</span>
                                <span class="biolife-icon icon-beer"></span>
                                <a class="srv-name" href="#">Đảm bảo chất lượng</a>
                            </div>
                        </li>
                        <li>
                            <div class="service-inner color-reverse">
                                <span class="number">2</span>
                                <span class="biolife-icon icon-schedule"></span>
                                <a class="srv-name" href="#">Giao hàng đúng hẹn</a>
                            </div>
                        </li>
                        <li>
                            <div class="service-inner color-reverse">
                                <span class="number">3</span>
                                <span class="biolife-icon icon-car"></span>
                                <a class="srv-name" href="#">Miến phí giao hàng nội thành</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- script -->
<script src="../../../assets/js/jquery-3.4.1.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script src="../../../assets/js/jquery.countdown.min.js"></script>
<script src="../../../assets/js/jquery.nice-select.min.js"></script>
<script src="../../../assets/js/jquery.nicescroll.min.js"></script>
<script src="../../../assets/js/slick.min.js"></script>
<script src="../../../assets/js/biolife.framework.js"></script>
<script src="../../../assets/js/functions.js"></script>
</body>

<!--footer-->
<footer id="footer" class="footer layout-03">
    <div class="footer-content background-footer-03">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-9">
                    <section class="footer-item">
                        <div class="newsletter-block layout-01">
                            <h4 class="title">Nhận tin khuyến mãi</h4>
                            <div class="form-content">
                                <form action="#" name="new-letter-foter">
                                    <input type="email"
                                           class="input-text email" value
                                           placeholder="Nhập email tại đây...">
                                    <button type="submit" class="bnt-submit"
                                            name="ok">Đăng kí
                                    </button>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
                <div
                        class="col-lg-4 col-md-4 col-sm-6 md-margin-top-5px sm-margin-top-50px xs-margin-top-40px">
                    <section class="footer-item">
                        <h3 class="section-title">Liên kết hữu ích</h3>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                <div class="wrap-custom-menu vertical-menu-2">
                                    <ul class="menu">
                                        <li><a href="#">Về chúng tôi</a></li>
                                        <li><a href="#">Về cửa hàng của chúng tôi</a></li>
                                        <li><a href="#">Mua sắm an toàn</a></li>
                                        <li><a href="#">Thông tin giao hàng</a></li>
                                        <li><a href="#">Chính sách bảo mật</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                <div class="wrap-custom-menu vertical-menu-2">
                                    <ul class="menu">
                                        <li><a href="#">Chúng tôi là ai</a></li>
                                        <li><a href="#">Dịch vụ của chúng tôi</a></li>
                                        <li><a href="#">Dự án</a></li>
                                        <li><a href="#">Liên hệ chúng tôi</a></li>
                                        <li><a href="#">Sơ đồ trang web</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
                <div
                        class="col-lg-4 col-md-4 col-sm-6 md-margin-top-5px sm-margin-top-50px xs-margin-top-40px">
                    <section class="footer-item">
                        <h3 class="section-title">Địa chỉ cửa hàng</h3>
                        <div
                                class="contact-info-block footer-layout xs-padding-top-10px">
                            <ul class="contact-lines">
                                <li>
                                    <p class="info-item">
                                        <i
                                                class="biolife-icon icon-location"></i>
                                        <b class="desc">121 Đường Cầu Giấy, Hà Nội, Việt Nam</b>
                                    </p>
                                </li>
                                <li>
                                    <p class="info-item">
                                        <i class="biolife-icon icon-phone"></i>
                                        <b class="desc">Phone: 000000000php<!--<?php echo
                                                $link['phone'] ?>--></b>
                                    </p>
                                </li>
                                <li>
                                    <p class="info-item">
                                        <i class="biolife-icon icon-letter"></i>
                                        <b class="desc">Email: anpx123@gmail.comphp<!--<?php echo
                                                $link['email'] ?>--></b>
                                    </p>
                                </li>
                                <li>
                                    <p class="info-item">
                                        <i class="biolife-icon icon-clock"></i>
                                        <b class="desc">Hours: từ 8h - 21h hàng ngày
                                        </b>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="biolife-social inline">
                            <ul class="socials">
                                <li><a href="<?php echo $link['tweeter'] ?>"
                                       title="twitter" class="socail-btn"><i
                                        class="fa fa-twitter"
                                        aria-hidden="true"></i></a></li>
                                <li><a href="<?php echo $link['fb_link'] ?>"
                                       title="facebook" class="socail-btn"><i
                                        class="fa fa-facebook"
                                        aria-hidden="true"></i></a></li>
                                <li><a
                                        href="<?php echo $link['pinterest'] ?>"
                                        title="pinterest" class="socail-btn"><i
                                        class="fa fa-pinterest"
                                        aria-hidden="true"></i></a></li>

                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-sm-6 col-xs-12">
                </div>
                <div class="col-lg-2 col-sm-6 col-xs-12">
                    <div class="copy-right-text">Copyright @duan1 2023</div>
                </div>
                <div class="col-lg-5 col-sm-6 col-xs-12">
                </div>
            </div>
        </div>
    </div>
</footer>
</html>